---
layout: default
title: Portfolio
section_id: portfolio
works:
  - icon: grin-squint-tears
    title: Customer Satisfaction Study  
    link_to: portfolio-item.html
    klass: graphic-design
    desc: Marketing research
  - image: images/@stock/pi2.jpg
    title: Study on Willingness to Pay Price Premium 
    link_to: portfolio-item-2.html
    klass: web-design print
    desc: Marketing research
  - image: images/@stock/work-3.jpg
    title: Skills demand estimate 
    link_to: portfolio-item-3.html
    klass: brand
    desc: Design &amp; Development
  - image: images/@stock/work-4.jpg
    title: Predictive model for an HR portal 
    link_to: portfolio-item-4.html
    klass: development
    desc: Design &amp; Development
  - image: images/@stock/work-5.jpg
    title: Marketing Mix effectiveness 
    link_to: portfolio-item-5.html
    klass: print brand
    desc: Design &amp; Development
  - icon: user-graduate
    title: Analysis of higher education study results
    link_to: portfolio-item-6.html
    klass: web-design
    desc: Design &amp; Development
  - icon: shopping-cart
    title: Predicting probability of repeated purchase 
    link_to: portfolio-item-7.html
    klass: web-design
    desc: Design &amp; Development
  - image: images/@stock/work-8.jpg
    title: Customer churn modeling – feasibility study
    link_to: portfolio-item-8.html
    klass: graphic-design
    desc: Design &amp; Development
  - icon: sign-out-alt
    #image: images/@stock/work-9.jpg
    title: Customer churn modeling 
    link_to: portfolio-item-9.html
    klass: development print
    desc: Design &amp; Development
  - image: images/@stock/work-10.jpg
    title: Customer churn modeling for a subscription-based services
    link_to: portfolio-item-10.html
    klass: brand
    desc: Design &amp; Development
  - image: images/@stock/work-11.jpg
    title: CRM Lead scoring
    link_to: portfolio-item-11.html
    klass: web-design
    desc: Design &amp; Development
  - image: images/@stock/work-12.jpg
    title: Multivariate Anomaly detection 
    link_to: portfolio-item-12.html
    klass: print
    desc: Design &amp; Development
  - image: images/@stock/work-13.jpg
    title: Fast-text algorithm implementation
    link_to: portfolio-item-13.html
    klass: graphic-design
    desc: Design &amp; Development
  - image: images/@stock/work-14.jpg
    title: Recommender system 
    link_to: portfolio-item-14.html
    klass: development
    desc: Design &amp; Development
  - image: images/@stock/work-15.jpg
    title: Forecasting of Daily Energy consumption 
    link_to: portfolio-item-15.html
    klass: print
    desc: Design &amp; Development
  - image: images/@stock/work-8.jpg
    title: Beautiful Girl
    link_to: portfolio-item.html
    klass: graphic-design
    desc: Design &amp; Development
---


<div class='full parallax' style='background-image: url(images/@stock/portfolio.jpeg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Our portfolio" tagline="Have a look at our works" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>


<div class='full'>
  <div class='row'>
    <div class='mod modGallery'>
      <div class='gallery-nav'>
        <ul>
          <li class='current'>
            <a data-cat='all' href='#'>All</a>
          </li>
          <li>
            <i class="fa fa-bandcamp" aria-hidden="true"></i>
            <a data-cat='graphic-design' href='#'>Graphic Design</a>
          </li>
          <li>
            <a data-cat='web-design' href='#'>Web Design</a>
          </li>
          <li>
            <a data-cat='brand' href='#'>Brand</a>
          </li>
          <li>
            <a data-cat='development' href='#'>Development</a>
          </li>
          <li>
            <a data-cat='print' href='#'>Print</a>
          </li>
        </ul>
      </div>

      <ul class='gallery large-block-grid-4 medium-block-grid-3 small-block-grid-2'>

        {% for work in page.works %}
          <li class="{{ work.klass }}">
            <a href='{{ work.link_to }}' style="font-size: 170px; text-align: center;">
              {% if work.icon %}
              <i class="fas fa-{{ work.icon }}"></i>
              {% else %}
              <img alt="" src="{{ work.image }}" />
              {% endif %}

              <div class='overlay'>
                <div class='thumb-info'>
                  <h3>{{ work.title }}</h3>
                  <p>{{ work.desc }}</p>
                </div>
              </div>
            </a>
          </li>
        {% endfor %}

      </ul>

    </div>
  </div>

  <div class='four spacing'></div>
</div>