---
layout: blog
section_id: blog
---
{% include mathjax.html %}
<div class='post'>
  <div class='large-12 columns'>
    <div class='mod modBlogPost big'>
      
      <div class='images'>
        <p>
        {% for image in page.images %}
          <div class='image'><img alt="" src="{{site.url}}/{{image}}" /></div>
        {% endfor %}
        </p>
      </div>
    
      <div class='content'>
        <p class='info'>
          <span>{{page.date | date: "%B %d, %Y" }}</span>
          /
          <span>
            by {{page.author}}
          </span>
          /
        </p>
        <h4><a href="{{page.url}}">{{page.title}}</a></h4>
        <p>
          <article class="post-content"> {{ content }} </article>
        </p>
       </div>    
      

  </div>
  
    <div class='two spacing'></div>
   
    <a id='comments'></a>
    
    <div class='four spacing'></div>
    <div class='four spacing'></div>
  </div>
</div>
