---
layout: blog
section_id: blog
---

{% include mathjax.html %}
<div class='post'>
  <div class='large-12 columns'>
    <div class='mod modBlogPost big'>
      <p>
      <div class='images'>
        
        {% for image in page.images %}
          <div class='image'><img alt="" src="{{site.url}}/{{image}}" /></div>
        {% endfor %}
        
      </div>
      </p>
    <p>
      <div class='content'>
        <p class='info'>
          <span>{{page.date | date: "%B %d, %Y" }}</span>
          /
          <span>
            by {{page.author}}
          </span>
          /
        </p>
        <h3><a href="{{page.url}}">{{page.title}}</a></h3>
          <article class="post-content"> {{ content }} </article>
          <link href="/css/zenburn.css" rel="stylesheet">
          <code class="language-ruby" data-lang="ruby">
    
       </div>
  </p>
  </div>
  
    <div class='two spacing'></div>
   
    <a id='comments'></a>
   
    <div class='four spacing'></div>
    <div class='four spacing'></div>
  </div>
</div>
